# Python Stuff
.venv
__pycache__

# Coverage
.coverage
coverage.xml
*.cover
*.py,cover

# MacOS file
.DS_Store

# Environment variables
.env

# logs
*.log
log/*
2024-nov-bloodtest-results-health-360.pdf
test_data/medical_data/2024-nov-bloodtest-results-health-360.json
test_data/medical_data/2024-nov-bloodtest-results-health-360.json.old
test_data/medical_data/2024-nov-bloodtest-results-health-360.openai.json
outputs/medical_test_data/2024-nov-bloodtest-results-health-360.json

.data/
data/
.cache/
test_data/handbook
test_data/COIN